/* stylelint-disable declaration-no-important */
/* stylelint-disable unit-disallowed-list */
html {
  font-family: var(--app-font-family-primary);
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: vh(100);
  display: flex;
  flex-direction: column;
}

/* stylelint-disable-next-line */
body, #app {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--background-primary);
  color: var(--text-primary-main);
}

input,
select,
textarea {
  background: var(--background-primary);
  color: var(--text-primary-main);
  font-family: var(--app-font-family-primary);
  font-size: toRem(16);
  font-weight: 400;

  &:focus {
    outline: none;
  }
}

body,
span,
p,
a {
  font-size: toRem(16);
  letter-spacing: 0.1em;
}

button {
  border: none;
  width: auto;
  overflow: visible;
  cursor: pointer;
  user-select: none;
  background: transparent;
  font-family: var(--app-font-family-secondary);
  font-size: toRem(16);
  color: var(--text-primary-main);
  line-height: 1.5;
  font-weight: 600;
  outline: 0;
  margin: 0;
  padding: 0;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

body,
p,
li,
ul {
  list-style-type: none;
  color: var(--text-primary-main);
}

p {
  line-height: 2;

  @include respond-to(tablet) { line-height: 1.6; }
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-primary-main);
  font-family: var(--app-font-family-secondary);
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.1em;
}

h1 {
  font-size: toRem(24);
}

h2 {
  font-size: toRem(24);
}

h3 {
  font-size: toRem(18);
}

h4 {
  font-size: toRem(16);
}

h5 {
  font-size: toRem(14);
}

a {
  font-size: toRem(16);
  line-height: 1.25;
  font-weight: 600;
  color: var(--primary-main);
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.app__metadata {
  display: flex;
  flex-direction: column;
  gap: toRem(24);
}

.app__metadata-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__metadata-lbl {
  display: flex;
  align-items: center;
  gap: toRem(16);
  font-size: toRem(14);
  line-height: 1.3;
  font-weight: 700;
  color: var(--text-secondary-main);
}

.app__metadata-value {
  font-family: var(--app-font-family-primary);
  text-align: right;
  font-size: toRem(16);
  line-height: 1.3;
  font-weight: 700;
  color: var(--text-primary-main);

  &--accent {
    color: var(--secondary-main);
  }
}

.app__price {
  display: flex;
  align-items: baseline;
  gap: toRem(4);
  font-weight: 700;
  font-size: toRem(16);
  line-height: 130%;
  color: var(--text-primary-main);

  &-asset {
    text-transform: uppercase;
    font-size: 0.7em;
  }
}

.app__form-control {
  display: flex;
  flex-direction: column;
  gap: toRem(20);

  &-title {
    display: block;
    font-weight: 700;
    font-size: toRem(20);
    line-height: 1.3;
    letter-spacing: 0.1em;
    color: var(--text-secondary-main);
  }

  &:not(:last-child) {
    margin-bottom: toRem(30);
  }
}

.app__module-title-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.app__module-title {
  font-size: toRem(70);
  line-height: 1.2;
  font-weight: 900;
  color: var(--text-primary-main);
}

.app__module-title-address {
  grid-gap: toRem(20);
  font-size: toRem(30);
  line-height: 1.2;
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.1em;
}

#app .app__module-back-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: toRem(54);
  height: toRem(54);
  right: calc(100% + #{toRem(56)});
  padding: 0;
}

.app__module-subtitle {
  font-size: toRem(16);
  line-height: 1.3;
  font-weight: 400;
  margin: toRem(20) 0 toRem(40);
}

.app__module-content-wrp {
  flex: 1;
}

.app__module-content {
  flex: 1;
  padding: toRem(40) toRem(165);
}

.app__module-content-inner {
  display: flex;
  flex-direction: column;
  max-width: toRem(660);
  width: 100%;
  margin: 0 auto;
}

.app__module-content-title {
  font-size: toRem(24);
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: toRem(30);
}
