@import 'app-colors';

:root,
:before,
:after {
  --white: #{$white};
  --white-rgb: #{$white-rgb};
  --black: #{$black};
  --black-rgb: #{$black-rgb};

  --background-primary: #{$background-primary};
  --background-secondary: #{$background-secondary};
  --background-tertiary: #{$background-tertiary};

  /* status colors */
  --success-light: #{$success-light};
  --success-main: #{$success-main};
  --success-dark: #{$success-dark};

  --error-light: #{$error-light};
  --error-main: #{$error-main};
  --error-dark: #{$error-dark};

  --warning-light: #{$warning-light};
  --warning-main: #{$warning-main};
  --warning-dark: #{$warning-dark};

  --info-light: #{$info-light};
  --info-main: #{$info-main};
  --info-dark: #{$info-dark};

  /* brand colors */
  --primary-light: #{$primary-light};
  --primary-main: #{$primary-main};
  --primary-dark: #{$primary-dark};

  --secondary-light: #{$secondary-light};
  --secondary-main: #{$secondary-main};
  --secondary-dark: #{$secondary-dark};

  /* typography colors */
  --text-primary-light: #{$text-primary-light};
  --text-primary-main: #{$text-primary-main};
  --text-primary-dark: #{$text-primary-dark};

  --text-secondary-light: #{$text-secondary-light};
  --text-secondary-main: #{$text-secondary-main};
  --text-secondary-dark: #{$text-secondary-dark};

  --text-primary-invert-light: #{$text-primary-invert-light};
  --text-primary-invert-main: #{$text-primary-invert-main};
  --text-primary-invert-dark: #{$text-primary-invert-dark};

  /* border colors */
  --border-primary-light: #{$border-primary-light};
  --border-primary-main: #{$border-primary-main};
  --border-primary-dark: #{$border-primary-dark};

  --border-secondary-light: #{$border-secondary-light};
  --border-secondary-main: #{$border-secondary-main};
  --border-secondary-dark: #{$border-secondary-dark};

  /* App variables */
  --app-txt: #{$text-primary-main};
  --app-font-family-primary: 'Montserrat', 'Arial', sans-serif;
  --app-font-family-secondary: 'Titillium_Web', 'Arial', sans-serif;
  --app-padding-right: #{toRem(60)};
  --app-padding-left: #{toRem(60)};

  @include respond-to(small) {
    --app-padding-right: #{toRem(24)};
    --app-padding-left: #{toRem(24)};
  }

  /* --------------------------------------- */

  /* Field variables */

  /* --------------------------------------- */
  --field-bg: var(--background-primary);

  /* label */
  --field-label: var(--text-secondary-main);
  --field-label-hover: var(--text-primary-main);
  --field-label-focus: var(--secondary-main);
  --field-label-font-size: #{toRem(14)};
  --field-label-line-height: 1.4;

  /* text */
  --field-text: var(--text-primary-main);
  --field-text-font-size: #{toRem(14)};
  --field-text-line-height: 1.4;
  --field-placeholder: #{rgba($text-primary-main, 0.35)};

  /* border */
  --field-border: var(--border-primary-main);
  --field-border-hover: var(--primary-main);
  --field-border-focus: var(--secondary-main);

  /* transition duration */
  --field-transition-duration: 0.2s;

  /* paddings */
  --field-padding-top: #{toRem(11)};
  --field-padding-right: #{toRem(16)};
  --field-padding-bottom: #{toRem(11)};
  --field-padding-left: #{toRem(16)};
  --field-padding:
    var(--field-padding-top)
    var(--field-padding-right)
    var(--field-padding-bottom)
    var(--field-padding-left);

  --field-error: var(--error-main);
}
